<div class="container">
    <div class="lead">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%= @question.gravatar %>">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= @question.email %> asked:</h4>
                <%= @question.body %>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                data-target="#new-answer-modal">Submit new answer</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <%= render 'home/new_answer_form' %>
            <% @answers.each do |answer| %>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="<%= answer.gravatar %>">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><%= answer.email %> answered:</h4>
                       <div><%= time_ago_in_words answer.created_at %> ago</div>
                        <%= answer.body %>
                    </div>
                </div>
            <% end %>
			<% if @answers.empty? %>
				<div class="alert alert-info">No Answers.</div>
			<% end %>
        </div>
    </div>
</div>
