.boxes .media{border:thin solid #cccccc;padding:1em;border-radius:10px;background:#eee;position:relative}.boxes .media:hover{cursor:pointer;background-color:#ddd}.boxes .media .time{position:absolute;top:0;right:8px;top:8px;color:#888}.boxes .media .answer-button{position:absolute;bottom:8px;right:8px}
