/* line 6, /home/ubuntu/RailsTest/app/assets/stylesheets/home.scss */
.boxes .media {
  border: thin solid #cccccc;
  padding: 1em;
  border-radius: 10px;
  background: #eee;
  position: relative;
}
/* line 12, /home/ubuntu/RailsTest/app/assets/stylesheets/home.scss */
.boxes .media:hover {
  cursor: pointer;
  background-color: #ddd;
}
/* line 16, /home/ubuntu/RailsTest/app/assets/stylesheets/home.scss */
.boxes .media .time {
  position: absolute;
  top: 0;
  right: 8px;
  top: 8px;
  color: #888;
}
/* line 23, /home/ubuntu/RailsTest/app/assets/stylesheets/home.scss */
.boxes .media .answer-button {
  position: absolute;
  bottom: 8px;
  right: 8px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

