<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Just a Rails Test</a>
		</div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><div class="navbar-text"><%= current_user_email %></div>
                <li>
                    <button type="button" class="btn btn-success navbar-btn btn-sm" data-toggle="modal"
                        data-target="#new-question-modal">Ask A Question</button>
                </li>
            </ul>
        </div>
	</div><!-- /.container-fluid -->
</nav>
