<div id="new-answer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Give your answer</h4>
      </div>
      <%= form_for :answer, url: '/answers', html: { class: 'form-horizontal' } do %>
          <input type="hidden" name="answer[question_id]" value="<%= @question.id %>">
          <div class="modal-body">
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="answer[email]"
                    value="<%= current_user_email %>" placeholder="enter email"
                    required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="answer">Answer:</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="answer" name="answer[body]" placeholder="What's your answer?" required /></textarea>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    <% end %>
  </div>
</div>
