<div id="new-question-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<h4 class="modal-title">Ask Your question</h4>
	  </div>
      <%= form_for :question, url: '/questions', html: { class: 'form-horizontal' } do %>
		  <div class="modal-body">
			  <div class="form-group">
				<label class="control-label col-sm-2" for="email">Email:</label>
				<div class="col-sm-10">
				  <input type="email" class="form-control" id="email" name="question[email]"
                     placeholder="Enter email" value="<%= current_user_email %>" required>
				</div>
			  </div>
			  <div class="form-group">
				<label class="control-label col-sm-2" for="question">Question:</label>
				<div class="col-sm-10"> 
				  <textarea type="text" class="form-control" id="question" name="question[body]" placeholder="What's your question?" required /></textarea>
				</div>
			  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </div>
		</div>
	<% end %>
  </div>
</div>
