<div class="well"> <h1>Q&A Site</h1></div>

<div class="container">
    <div class="boxes">
        <% @questions.each do |q| %>
        <div class="media" data-target="<%= question_path(q) %>">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="<%= q.gravatar %>">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><%= q.email %> asked:</h4>
                <div class="time hidden-xs"><%= time_ago_in_words q.created_at %> ago</div>
                <div><%= truncate q.body, length: 300 %></div>
                <div class="answer-button hidden-xs">
                    <a href="<%= question_path(q) %>" class="btn btn-success button-xs">View Answers</a>
                </div>
            </div>
        </div>
        <% end %>
        <% if @questions.empty? %>
            <div class="alert alert-info">No Questions.</div>
        <% end %>
    </div>
</div>
