// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxes {
    .media {
        border: thin solid #cccccc;
        padding: 1em;
        border-radius: 10px;
        background: #eee;
    	position: relative;
		&:hover {
			cursor: pointer;
			background-color: #ddd;
		}
		.time {
			position: absolute;
			top: 0;
			right: 8px;
			top: 8px;
			color: #888;
		}
		.answer-button {
			position: absolute;
			bottom: 8px;
			right: 8px;
		}
    }
}
